devProject/
promo/
packages/
ignored/
Carter Games/.idea/.idea.Carter Games.dir/.idea/encodings.xml
Carter Games/.idea/.idea.Carter Games.dir/.idea/indexLayout.xml
Carter Games/.idea/.idea.Carter Games.dir/.idea/vcs.xml
